<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="position-relative d-print-none mt-auto pt-5">
    <div class=" bg-gray-200 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Về Sporta</h6>
                    <ul class="list-unstyled">
                        <li><a href="" class="text-muted">Giới thiệu về Sporta</a></li>
                        <li><a href="" class="text-muted">Blog</a></li>
                        <li><a href="" class="text-muted">Điều khoản sử dụng</a></li>
                        <li><a href="" class="text-muted">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Thông tin liên hệ</h6>
                    <ul class="list-unstyled">
                        <li><a href="" class="text-muted">abcxyz123@gmail.com</a></li>
                        <li><a href="" class="text-muted">facebook.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Thanh toán</h6>
                    <ul class="list-unstyled">
                        <li><a href="" class="text-muted">
                                <img style="height: 25px; margin-bottom: 10px" src="../../assets/users/momo.png"
                                    alt=""> Momo
                            </a></li>
                        <li><a href="" class="text-muted">Tiền mặt</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 text-center text-md-center">
                    <p class="text-sm mb-md-0">
                        <span>© 2022 Bản quyền của Công Ty TNHH Sporta</span>
                        <br>
                        <span>
                            Giấy chứng nhận Đăng ký Kinh doanh số 0315485936 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội
                            cấp ngày 17/01/2022
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
