<div class="d-flex flex-colum h-100">
    <div class="sport-nav navbar-fixed">
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a href="" navnar-brand py-1 ml-2>
                        <img src="../../assets/users/logo.svg" alt="Logo" style="width: 60px; height: 35px;">
                    </a>
                </div>
                <button type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right collapsed">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-callapse mr-3 callapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                {{role=='1'?'Solo':""}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" >
                                {{role=='1'?'Đặt sân':""}}
                                {{role=='0'?'Quản lý sân':""}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" >
                                {{role=='1'?'Bảng Xếp Hạng':""}}
                                {{role=='0'?'Doanh thu':""}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" >
                                {{role=='1'?'Profile':""}}
                                {{role=='0  '?'Quản lý trận':""}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                {{logined?'Đăng xuất':"Đăng nhập" }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                Đăng ký
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
