main{
    height: 100%;
    padding-top: 63px;
}
.mySlides {display:none;}
.btn-primary {
    color: #fff;
    background-color: #fc9600;
    border-color: #fc9600;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.btn {
    letter-spacing: .3em;
    text-transform: uppercase;
    font-weight: bold;
}
.rounded-xl {
    border-radius: 10rem;
}
.search-bar {
    position: relative;
    margin-bottom: 0;
}
.search-bar {
    border-radius: 10rem;
    background: #fff;
    box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
}
.rating {
    display: flex;
           margin-top: -10px;
       flex-direction: row-reverse;
       margin-left: -4px;
           float: left;
   }

.rating>input {
    display: none
   }
.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer;
    }

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
    }
.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
