.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.4rem;
}
.fixed-top{
    z-index: 1030;
}
.navbar>.container-fluid{
    display: flex;
    width: 100%;
}
.mr-3{
    width: 90%;
    margin-right: 1rem !important;
}
.ml-auto{
    display: flex !important;
    flex-direction: row;
    float: right;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.5);
}
.navbar .nav-link {
    font-size: .9rem;
    font-weight: bold;
    text-decoration: none !important;
}
.nav-item{
    list-style-type: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link:hover{
    color: black !important;
}
ul.dropmenu{
    float: left;
}
.btn-primary {
    color: #fff;
    background-color: #fc9600;
    border-color: #fc9600;
}
.btn{
    letter-spacing: .2.5em;
    text-transform: uppercase;
    font-weight: bold;
}
